@import "_mixins.scss";
@import "_variables.scss";

.base-container {
  @include radius();
  position: relative;
  border: 3px solid $base-brown;
  background-color: $container-brown;
}

.base-button {
  @include radius();
  @include background-button();
  color: $font-green;

  height: 30px;

  &:hover {
    @include background-light-button();
    cursor: pointer;
    color: $font-light-green;
  }

  &:focus {
    @include background-dark-button();
    cursor: pointer;
    outline: none !important;
    color: $font-dark-green;
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      @include background-button();
      color: $font-green;
    }
  }
}

.logout-button {
  @extend .base-button;
  @include background-logout-button();


  &:hover {
    @include background-light-logout-button();
  }

  &:focus {
    @include background-dark-logout-button();
  }
}

.base-input {
  @include radius();
  background-color: $strong-brown;
  border: 2px solid $base-brown;
  color: $light-brown;

  padding: 2px 5px;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
    color: $font-light-green;
    border-color: $light-brown;
  }
}
