@mixin radius {
  border-radius: 5px;
}

@mixin background-button {
  background: rgb(38,38,24);
  background: radial-gradient(circle, rgba(38,38,24,1) 0%, rgba(61,63,24,1) 67%, rgba(61,63,24,1) 100%);

  border-style: solid;
  border-width: 2px;
  border-top-color: #626629;
  border-left-color: #25270F;
  border-right-color: #626629;
  border-bottom-color: #25270F;
}

@mixin background-light-button {
  background: rgb(85,90,32);
  background: radial-gradient(circle, rgba(85,90,32,1) 0%, rgba(93,99,39,1) 54%, rgba(124,127,48,1) 100%);

  border-style: solid;
  border-width: 2px;
  border-top-color: #898D36;
  border-left-color: #1A1C04;
  border-right-color: #898D36;
  border-bottom-color: #1A1C04;
}

@mixin background-dark-button {
  background: rgb(23,24,8);
  background: radial-gradient(circle, rgba(23,24,8,1) 0%, rgba(28,30,9,1) 54%, rgba(33,35,11,1) 100%);

  border-style: solid;
  border-width: 2px;
  border-top-color: #25270F;
  border-left-color: #1F2308;
  border-right-color: #25270F;
  border-bottom-color: #1F2308;
}

@mixin background-logout-button {
  background: rgb(111,19,14);
background: radial-gradient(circle, rgba(111,19,14,1) 0%, rgba(136,28,16,1) 54%, rgba(134,35,20,1) 100%);

  border-style: solid;
  border-width: 2px;
  border-top-color: #E63D28;
  border-left-color: #7B1910;
  border-right-color: #E63D28;
  border-bottom-color: #7B1910;
}

@mixin background-light-logout-button {
  background: rgb(158,17,9);
  background: radial-gradient(circle, rgba(158,17,9,1) 0%, rgba(168,29,13,1) 58%, rgba(185,45,24,1) 100%);

  border-style: solid;
  border-width: 2px;
  border-top-color: rgb(226, 78, 59);
  border-left-color: #7B1910;
  border-right-color: rgb(226, 78, 59);
  border-bottom-color: #7B1910;
}

@mixin background-dark-logout-button {
  background: rgb(75,10,3);
  background: radial-gradient(circle, rgba(75,10,3,1) 0%, rgba(79,11,4,1) 58%, rgba(87,15,5,1) 100%);

  border-style: solid;
  border-width: 2px;
  border-top-color: #4b0a03;
  border-left-color: #4b0a03;
  border-right-color: #4b0a03;
  border-bottom-color: #4b0a03;
}
